name: Manual Trigger Workflow

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Deno environment
        uses: denoland/setup-deno@v2

      - name: Run build
        run: https://gist.githubusercontent.com/oscarotero/f4e471faedb54d2f8ee3d820f451a296/raw/f4b39c60533a36fb4aff7c2be3851427ba692480/std-to-http.ts

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update code
