name: Manual Trigger Workflow

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Deno environment
        uses: denoland/setup-deno@v2

      - name: Run build
        run: deno run -A ./.github/std-to-http.ts

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update code
