name: Manual Trigger Workflow

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Deno environment
        uses: denoland/setup-deno@v2

      - name: Run build
        run: deno run -A --no-lock ./.github/std-to-http.ts

      - name: Read the new version
        run: |
          echo "VERSION=$(cat package.json | jq -r '.version')" >> $GITHUB_ENV

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update code
          tagging_message: ${{ env.VERSION }}
